p{
    line-height:40px;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-indent:50px;
    text-align: justify;
    font-size: 35px;
    font-family:arial,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}